div
  = form.label :amount, I18n.t('share.amount')
  = form.text_field :amount, placeholder: 'В тыс.', required: true

div
  = form.label :value, I18n.t('share.value')
  = form.text_field :value, required: true

div
  = form.label :date, I18n.t('date')
  = form.text_field :date, placeholder: 'dd.mm.yyyy', required: true
