= link_to(I18n.t('form.create'), new_company_share_path(@company.id))
br
= link_to(I18n.t('parse'), company_parse_shares_path(@company.id), method: :post)

= paginate(@grid.assets)
= datagrid_table @grid
= paginate(@grid.assets)
