= form_for(@data_method, url: ifrs_financial_positions_data_method_path(@data_method.id), method: :put) do |form|
  = render(partial: 'form', locals: { form: form })
  = form.submit I18n.t('form.save')
