div
  = form.label :name, I18n.t('company.name')
  = form.text_field :name, required: true

div
  = form.label :index, I18n.t('company.index')
  = form.text_field :index, required: true

div
  = form.label :country_id, I18n.t('country.name')
  = form.select :country_id, @countries, required: true, include_blank: true

div
  = form.label :industry_id, I18n.t('industry.name')
  = form.select :industry_id, @industries, required: true, include_blank: true

div
  = form.label :finam_em, I18n.t('company.finam_em')
  = form.select :finam_em_id, @finam_ems, required: true, include_blank: true

- if @company.errors.present?
  div
    - @company.errors.full_messages.each do |error|
      p = error
