div
  a = "ID: #{@company.name}"
div
  a = "#{I18n.t('company.name')}: #{@company.name}"
div
  a = "#{I18n.t('company.index')}: #{@company.index}"
div
  a = "#{I18n.t('company.country')}: #{@company.country.name}"
div
  a = "#{I18n.t('company.industry')}: #{@company.industry.name}"
div
  a = "#{I18n.t('company.finam_em_name')}: #{@company.finam_em&.name}"
div
  a = "#{I18n.t('company.conomy_url')}: "
  = @company.conomy_url.nil? ? '' : link_to(@company.conomy_url, @company.conomy_url, target: '_blank')
- if @company.conomy_url.present?
  div
    = link_to(I18n.t('parse_and_calculate'), company_parse_and_calculate_path(@company.id), method: :post)
  div
    = link_to(I18n.t('calculate_all_analytics'), company_calculate_path(@company.id), method: :post)
div
  = link_to(I18n.t('ifrs_comprehensive_incomes'), company_ifrs_comprehensive_incomes_path(@company.id))
div
  = link_to(I18n.t('ifrs_financial_positions'), company_ifrs_financial_positions_path(@company.id))
div
  = link_to(I18n.t('shares'), company_shares_path(@company.id))
div
  = link_to(I18n.t('analytics_foundations'), company_analytics_foundations_path(@company.id))
div
  = link_to(I18n.t('analytics_ratios'), company_analytics_ratios_path(@company.id))
div
  = link_to(I18n.t('analytics_results_calculate'), company_analytics_calculate_results_path(@company.id), method: :post)
