.bg-red {
  background-color: red;
}
.bg-dark-yellow {
  background-color: darkorange;
}
.bg-yellow {
  background-color: yellow;
}
.bg-green {
  background-color: green;
}
.width-min-75 {
  min-width: 75px;
}
.width-min-400 {
  min-width: 400px;
}
