= form_with(url: total_analytics_path, method: 'get') do
  div
    = label_tag(:country_id, I18n.t('country.name'))
    = select_tag(:country_id, options_for_select(@countries, selected: @country_id), include_blank: true)
  div
    = label_tag(:industry_id, I18n.t('industry.name'))
    = select_tag(:industry_id, options_for_select(@industries, selected: @industry_id), include_blank: true)
  div
    = label_tag(:start_date, I18n.t('start_date'))
    = select_tag(:start_date, options_for_select(@dates, selected: "31.12.#{@start_year}"))
  div
    = label_tag(:end_date, I18n.t('end_date'))
    = select_tag(:end_date, options_for_select(@dates, selected: "31.12.#{@end_year}"))
  div
    = submit_tag(I18n.t('find'))
