table
  thead
    tr
      th = year
      - analytics.keys.each do |company_id|
        th = link_to(@companies_names[company_id], company_path(company_id), target: '_blank')
  tbody
    - @keys.each do |key|
      tr
        td.width-min-400 = I18n.t("total_analytics.#{key}")
        - analytics.values.each do |analytics|
          - if analytics.nil? || analytics[key].nil?
            td.width-min-75 = '-'
          - else
            td.width-min-75 class=Analytics::Results::StyleBuilderService.call(key, analytics[key]) = analytics[key]
