doctype html
html
  head
    title
      | FinanceAnalyzer
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  body
    = render_navigation
    = render(partial: 'layouts/breadcrumbs')
    = yield
